*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #222222;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-x: hidden;
    position: relative;
      height: 100%;
}
.top-nav, .bottom-nav{
    display: flex;
    margin-top: 1%;
    justify-content: center;
    width: 90%;

}
.top-nav {
    margin-left: -20%;
}
.first-screen {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: #222222;
}
.vishwash{
    margin: 4vh 15% 0 0%;
    font-size: 120% !important;
}

.Product-Designer-2022 {
    margin: 4vh 16%;
    min-width: 130px;
    font-size: 90%;
    text-align: left;
}

.Avaliable-for-Freelance-Projects {
    margin: 4vh 20%;
    min-width: 150px;
    font-size: 90%;
    text-align: left;
}

.lets-talk-button {
    margin: 4vh 0 0 8%;
    
}

.Product-Designer {
    font-size: 200%;
    width: 420px;
    text-align: center;
    margin-top: 20vh;
    
}
.Hello {
    font-size: 80%;
    width: 330px;
    text-align: center;
    margin-top: 1vh;
    
}

.scroll-button {
    margin-top: 3.5vh;
}

.bottom-nav {
    margin-top: 18vh;
}
.social {
    margin: 4vh 10%;
    width: 140px;
    font-size: 80%;
    text-align: left;
}

.social-total {
    margin: 0 4%;
    display: flex;
}

.year{
    margin: 4vh 4% 0 8%;
    width: 140px;
    font-size: 80%;
    text-align: left;
}

.location{
    margin: 4vh 8%;
    width: 300px;
    font-size: 80%;
    text-align: left;
}

.img-set-one {
    display: flex;
}
.img{
    width: 50%;
}

@media only screen and (max-width: 1280px) {
    .top-nav, .bottom-nav{
        display: flex;
        margin-top: 1%;
    
    }
    .top-nav{
        margin-left: 0;
    }
    .first-screen {
        max-width: 100vw;
        max-height: 100vh;
    }
    .vishwash{
        margin: 4vh 16% 0 -20%;
        font-size: 100% !important;
    }
    
    .Product-Designer-2022 {
        margin: 4vh 5%;
        width: 140px;
        font-size: 80%;
        text-align: left;
    }
    
    .Avaliable-for-Freelance-Projects {
        margin: 4vh 8%;
        width: 150px;
        font-size: 80%;
        text-align: left;
    }
    
    .lets-talk-button {
        width: 135px;
        margin: 4vh 0 0 4%;
        
    }
    
    .Product-Designer {
        font-size: 200%;
        width: 420px;
        text-align: center;
        margin-top: 20vh;
        
    }
    .Hello {
        font-size: 80%;
        width: 330px;
        text-align: center;
        margin-top: 1vh;
        
    }
    
    .scroll-button {
        margin-top: 3.5vh;
    }
    
    .bottom-nav {
        margin-top: 18vmin;
    }
    .social {
        margin: 4vh 10%;
        width: 140px;
        font-size: 80%;
        text-align: left;
    }
    
    .social-total {
        margin: 0 1%;
        display: flex;
    }
    
    .year{
        margin: 4vh 2% 0 1%;
        width: 30px;
        font-size: 80%;
        text-align: left;
    }
    
    .location{
        margin: 4vh 0 0 2%;
        width: 240px;
        font-size: 80%;
        text-align: left;
    }
}

.top-nav-block {
    display: flex;
}


@media only screen and (max-width: 680px) {
    body{
        overflow-x: hidden;
    }
    *{
        margin: 0;
    }
    .img-set-one {
        display: block;
    }
    .img{
        width: 100%;
    }

    .top-nav, .bottom-nav{
        display: flex;
        margin-top: 1%;
        justify-content: center;
        width: 90;
    
    }
    .first-screen {
        max-width: 100vw;
        max-height: 100vh;
        width: 100vw;
        height: 100vh;
        background-color: #222222;
    }
    .vishwash{
        margin: 4vh 8% 0 0%;
        font-size: 110% !important;
    }
    
    .Product-Designer-2022 {
        margin: 4vh 10%;
        width: 140px;
        font-size: 80%;
        text-align: left;
    
    }
    
    .Avaliable-for-Freelance-Projects {
        margin: 4vh 10%;
        width: 150px;
        font-size: 80%;
        text-align: left;
    }
    
    .lets-talk-button {
        margin: 4vh 25% 0 0%;
        
    }
    
    .Product-Designer {
        font-size: 160%;
        width: 330px;
        text-align: center;
        margin-top: 11vh;
        
    }
    .Hello {
        font-size: 70%;
        width: 330px;
        text-align: center;
        margin-top: 1vh;
        
    }
    
    .scroll-button {
        margin-top: 3.5vh;
    }
    
    .button-one {
        width: 70%;
    }
    .button-two {
        width: 31%;
    }

    .bottom-nav {
        margin-top: 14vh;
    }
    .social {
        margin: 4vh 24%;
        width: 140px;
        font-size: 100%;
        text-align: left;
        display: none;
    }
    
    .social-total {
        margin: 0 4%;
        display: flex;
    }
    
    .year{
        margin: 4vh 8% 0 5%;
        width: 140px;
        font-size: 80%;
        text-align: left;
    }
    
    .location{
        margin: 4vh 0 0 28%;
        width: 300px;
        font-size: 80%;
        text-align: left;
    }
    .top-nav-block {
        display: block;
        margin: 0 0% 0 30%;
    }
}

@media only screen and (max-width: 850px) {
    body{
        max-width: 100vw;
        overflow-x: hidden;
    }
    
    .top-nav, .bottom-nav{
        display: flex;
        margin-top: 1%;
        justify-content: center;
        width: 100%;
    
    }
    .first-screen {
        max-width: 100vw;
        max-height: 100vh;
        width: 100vw;
        height: 100vh;
        background-color: #222222;

    }
    .vishwash{
        margin: 4vh 0% 0 0%;
        padding-left: 4%;
        font-size: 90% !important;
    }
    
    .Product-Designer-2022 {
        margin: 4vh 1%;
        width: 140px;
        font-size: 70%;
        text-align: left;
    
    }
    
    .Avaliable-for-Freelance-Projects {
        margin: 4vh 0%;
        max-width: 10px;
        font-size: 70%;
        text-align: left;
    }
    
    .lets-talk-button {
        margin: 4vh 0% 0 0%;
        
    }
    
    .Product-Designer {
        font-size: 110%;
        width: 230px;
        text-align: center;
        margin-top: 26vh;   
        
    }
    .Hello {
        font-size: 60%;
        width: 240px;
        text-align: center;
        margin-top: 1vh;
        
    }
    
    .scroll-button {
        margin-top: 2.5vh;
    }
    
    .button-one {
        width: 70%;
    }
    .button-two {
        width: 31%;
    }

    .bottom-nav {
        margin-top: 22vh;
        padding-top: 2vh;
    }
 
    
    .year{
        margin: 4vh 15% 0 12%;
        width: 140px;
        font-size: 70%;
        text-align: left;
    }
    
    .location{
        margin: 4vh 0 0 22%;
        width: 300px;
        font-size: 70%;
        text-align: left;
        padding-left: 12%;
    }
    .top-nav-block {
        display: block;
        margin: 0 0% 0 8.5rem;
    }
    .img{
        max-width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .Product-Designer {
        font-size: 110%;
        width: 230px;
        text-align: center;
        margin-top: 18vh;   
        
    }
    .bottom-nav {
        margin-top: 14vh;
    }
    .year{
        margin: 4vh 8% 0 5%;
        width: 140px;
        font-size: 70%;
        text-align: left;
    }
    
    .location{
        margin: 4vh 0 0 12%;
        width: 300px;
        font-size: 70%;
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    .Product-Designer {
        font-size: 110%;
        width: 230px;
        text-align: center;
        margin-top: 26  vh;   
        
    }
    .bottom-nav {
        margin-top: 26vh;
    }
    .year{
        margin: 4vh 8% 0 10%;
        width: 140px;
        font-size: 70%;
        text-align: left;
    }
    
    .location{
        margin: 4vh 0 0 12%;
        width: 300px;
        font-size: 70%;
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    .Product-Designer {
        font-size: 110%;
        width: 230px;
        text-align: center;
        margin-top: 26vh;   
        
    }
    .bottom-nav {
        margin-top: 24vh;
    }
    .year{
        margin: 4vh 8% 0 10%;
        width: 140px;
        font-size: 70%;
        text-align: left;
    }
    
    .location{
        margin: 4vh 0 0 12%;
        width: 300px;
        font-size: 70%;
        text-align: left;
    }
}

